{{{{raw-helper}}}}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">WT Dashboard</a>
</nav>
<div class="container-fluid" style="margin-top: 1rem;">
    <div class="row">

        <div id="app" class="col-md-12">
            <div class="row">

                <div class="col-md-3" style="text-align: center;">
                    <div class="card border-secondary">
                        <div class="card-header text-light"
                             :class="[ workingCount < 1 ? 'bg-dark' : 'bg-success' ]"
                        >
                            <h3>Obecnie pracuje</h3>
                        </div>
                        <div class="card-body">
                            <p id="connections" style="font-size: 96px;line-height: 96px;">{{workingCount}}</p>
                        </div>
                        <div class="card-footer bg-dark text-light"><h5>osób</h5></div>
                    </div>
                </div>

                <div class="col-md-9">

                    <legend>Aktualnie realizowane zadania</legend>
                    <div class="row">
                        <table id="current-report" class="table table-bordered table-striped table-condensed table-hover">
                            <thead>
                            <tr class="bg-dark text-light">
                                <td width="350px">Realizujący</td>
                                <td>Czas pracy</td>
                                <td>Zadanie</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data, key) in currentlyWorking" :key="key">
                                <td>{{data.workTime.username}}</td>
                                <td>{{secondsToTime(data.workTime.workedSeconds)}}</td>
                                <td>{{data.taskName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <legend>Czas pracy w tym miesiącu</legend>
                    <div class="row">
                        <table id="month-report" class="table table-bordered table-striped table-condensed table-hover">
                            <thead>
                            <tr class="bg-dark text-light">
                                <td width="350px">Realizujący</td>
                                <td colspan="2">Suma czasu pracy</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data, idx) in recentTasks" :key="idx">
                                <td>{{data.username}}</td>
                                <td>{{secondsToTime(data.workedSum)}}</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{{{{/raw-helper}}}}
<script src="js/dashboard.js"></script>